# Ignore Tomcat server directories and logs
bin/
conf/
lib/
logs/
temp/
work/

# Ignore compiled Java class files
*.class

# Ignore system files
.DS_Store
Thumbs.db

BUILDING.txt
CONTRIBUTING.md
LICENSE
NOTICE
RELEASE-NOTES
RUNNING.txt